.grid {
  display: grid;
}

.grid__2-cols {
  grid: 1fr / repeat(2, 1fr);
}

.grid__3-cols {
  grid: 1fr / repeat(3, 1fr);
}

.grid__4-cols {
  grid: 1fr / repeat(4, 1fr);
}

.grid__12-cols {
  grid: 1fr / repeat(12, 1fr);
}
