.method {
  margin: $unit__submedium auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $unit__normal;
}

.visual {
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $unit__normal;

  span {
    font-size: $unit__medium;
    font-weight: 500;
    color: $color__semi;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.svg-method-icon {
  width: 3.2rem;
  height: 3.2rem;
  fill: $color__tertiary;
}
