.method {
  margin: $unit__submedium auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $unit__normal;
}

.visual {
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $unit__normal;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.svg-method-icon {
  width: 4.8rem;
  height: 4.8rem;
  fill: $color__tertiary;
}
