.search {
  width: 70%;
  margin: $unit__huge auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $unit__small;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: $unit__large;
  padding-top: $unit__normal;
  padding-left: $unit__small;
  z-index: 1;
  outline: none;
  border: none;
  box-shadow: 0 2px 10px 1px rgba(68, 68, 68, 0.2);
  border-radius: 5px;
  background: lighten($color: $color__primary, $amount: 5%);
}

.input:focus {
  background: #fff;
}

.input:placeholder-shown {
  padding-top: $unit__normal;
  padding-left: $unit__small;
}

.label {
  position: absolute;
  top: 0.2rem;
  left: 0;
  z-index: 2;
  padding-left: $unit__small;
  font-weight: 700;
}

.input-field {
  width: 50%;
  height: $unit__large;
  position: relative;
}

.btn-search {
  cursor: pointer;
  padding: $unit__small $unit__submedium;
  height: $unit__large;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  border-radius: 0.4rem;
  border: none;
  background: $color__secondary;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
}

.btn-search:hover {
  background: darken($color: $color__secondary, $amount: 10%);
}

.highlights {
  position: relative;
  width: 70%;
  margin: $unit__huge auto;

  &__bg {
    position: absolute;
    top: -15rem;
    left: -20rem;
    width: 150%;
    height: 40rem;
    background: url("../assets/skyline.png");
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.7;
  }

  &__desc {
    position: relative;
    margin: $unit__small auto;
    padding: $unit__small;
    text-shadow: 0 2px 3px #444;
    display: inline-block;
    background: rgba(68, 68, 68, 0.25);
    color: #fff;
    border-radius: 10px;
  }
}

.features {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $unit__normal;
}

.section-content {
  margin: auto;
  margin-top: -2rem;
  width: 90%;
  position: relative;
}

.how-works {
  padding: $unit__normal;
  background: #fff;
}
