@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #dee4e7;
}

#root {
  margin: 1.6rem auto;
  padding: 3.2rem;
  max-width: 120rem;
  min-height: 70rem;
  background: #e7ecf0;
  box-shadow: 0 2px 5px rgba(68, 68, 68, 0.25);
}

.svg-icon {
  width: 2.4rem;
  height: 2.4rem;
  fill: #fff;
}

a {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-decoration: none;
  gap: 0.4rem;
  color: #070707;
}

.svg-nav-icon,
.svg-user-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.svg-user-icon {
  fill: #fff;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2.4rem;
  justify-self: end;
}
.navigation__link {
  transition: all 0.3s;
}
.navigation__link:hover, .navigation__link:active {
  color: #ff5a60;
}

.user-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-self: end;
  align-self: start;
  gap: 2.4rem;
}

.user__link {
  padding: 0.8rem 2.4rem 0 2.4rem;
  display: flex;
  color: #6d6d6d;
  align-items: flex-start;
  justify-content: center;
  gap: 0.8rem;
}
.user__link:hover, .user__link:active {
  color: #000;
}

.cta__link {
  background: #ff5a60;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.cta__link:hover, .cta__link:active {
  background: #ff272f;
  color: #fff;
}

.logo {
  align-self: start;
  width: 11rem;
  height: auto;
}
.logo__image {
  width: 100%;
}

.grid {
  display: grid;
}

.grid__2-cols {
  grid: 1fr/repeat(2, 1fr);
}

.grid__3-cols {
  grid: 1fr/repeat(3, 1fr);
}

.grid__4-cols {
  grid: 1fr/repeat(4, 1fr);
}

.grid__12-cols {
  grid: 1fr/repeat(12, 1fr);
}

.navbar {
  margin: auto;
  width: 95%;
}

.hero {
  width: 70%;
  margin: 6.4rem auto;
}
.hero__title {
  margin: 2.4rem auto;
  font-size: 4.8rem;
  line-height: 0.8;
}
.hero__title span {
  display: block;
}
.hero__title span + span {
  font-weight: 300;
}

.search {
  width: 70%;
  margin: 6.4rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4.8rem;
  padding-top: 1.6rem;
  padding-left: 0.8rem;
  z-index: 1;
  outline: none;
  border: none;
  box-shadow: 0 2px 10px 1px rgba(68, 68, 68, 0.2);
  border-radius: 5px;
  background: #f7f8fa;
}

.input:focus {
  background: #fff;
}

.input:placeholder-shown {
  padding-top: 1.6rem;
  padding-left: 0.8rem;
}

.label {
  position: absolute;
  top: 0.2rem;
  left: 0;
  z-index: 2;
  padding-left: 0.8rem;
  font-weight: 700;
}

.input-field {
  width: 50%;
  height: 4.8rem;
  position: relative;
}

.btn-search {
  cursor: pointer;
  padding: 0.8rem 2.4rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  border-radius: 0.4rem;
  border: none;
  background: #ff5a60;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
}

.btn-search:hover {
  background: #ff272f;
}

/*# sourceMappingURL=main.css.map */
